<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"metadata":{"name":"Main"},"style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained","contentSize":""}} -->
<div class="wp-block-group" style="margin-top:0;margin-bottom:0"><!-- wp:cover {"useFeaturedImage":true,"dimRatio":0,"customOverlayColor":"#FFF","isUserOverlayColor":true,"isDark":false,"align":"full","layout":{"type":"constrained","contentSize":"","wideSize":""}} -->
<div class="wp-block-cover alignfull is-light"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-0 has-background-dim" style="background-color:#FFF"></span><div class="wp-block-cover__inner-container"><!-- wp:group {"align":"full","layout":{"type":"constrained","justifyContent":"left"}} -->
<div class="wp-block-group alignfull"><!-- wp:spacer {"height":"21rem"} -->
<div style="height:21rem" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:buttons {"metadata":{"categories":[],"patternName":"core/block/976","name":"hero-paragraph"},"style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"flex","justifyContent":"left","flexWrap":"nowrap"}} -->
<div class="wp-block-buttons" style="margin-top:0;margin-bottom:0"><!-- wp:button {"textAlign":"center","textColor":"base","className":"is-style-fill","style":{"elements":{"link":{"color":{"text":"var:preset|color|base"}}},"spacing":{"padding":{"left":"var:preset|spacing|50","right":"var:preset|spacing|50","top":"var:preset|spacing|20","bottom":"var:preset|spacing|20"}},"typography":{"fontSize":"14px"}},"fontFamily":"playfair"} -->
<div class="wp-block-button is-style-fill"><a class="wp-block-button__link has-base-color has-text-color has-link-color has-playfair-font-family has-text-align-center has-custom-font-size wp-element-button" style="padding-top:var(--wp--preset--spacing--20);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--20);padding-left:var(--wp--preset--spacing--50);font-size:14px">The Ultimate Booking Experience</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons -->

<!-- wp:quote {"className":"is-style-default","style":{"spacing":{"blockGap":"0","margin":{"right":"0","left":"0","top":"10px","bottom":"0"},"padding":{"left":"0rem"}}}} -->
<blockquote class="wp-block-quote is-style-default" style="margin-top:10px;margin-right:0;margin-bottom:0;margin-left:0;padding-left:0rem"><!-- wp:paragraph {"style":{"typography":{"fontSize":"56px"},"elements":{"link":{"color":{"text":"var:preset|color|base"}}},"spacing":{"padding":{"right":"0","left":"0","top":"0","bottom":"0"},"margin":{"right":"0","left":"0","top":"0","bottom":"0"}}},"textColor":"base","fontFamily":"bebas-neue"} -->
<p class="has-base-color has-text-color has-link-color has-bebas-neue-font-family" style="margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0;font-size:56px">Start your swing Journey with One Click</p>
<!-- /wp:paragraph --></blockquote>
<!-- /wp:quote -->

<!-- wp:paragraph {"style":{"typography":{"fontSize":"15px"},"elements":{"link":{"color":{"text":"var:preset|color|base"}}},"spacing":{"padding":{"top":"0px","bottom":"0","left":"0rem"},"margin":{"top":"10px","bottom":"0","right":"0","left":"0"}}},"textColor":"base","fontFamily":"playfair"} -->
<p class="has-base-color has-text-color has-link-color has-playfair-font-family" style="margin-top:10px;margin-right:0;margin-bottom:0;margin-left:0;padding-top:0px;padding-bottom:0;padding-left:0rem;font-size:15px">Scalable tee time and operations platform purpose-built for </p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"style":{"typography":{"fontSize":"15px"},"elements":{"link":{"color":{"text":"var:preset|color|base"}}},"spacing":{"margin":{"right":"0","top":"5px","bottom":"100px","left":"0"},"padding":{"left":"0rem"}}},"textColor":"base","fontFamily":"playfair"} -->
<p class="has-base-color has-text-color has-link-color has-playfair-font-family" style="margin-top:5px;margin-right:0;margin-bottom:100px;margin-left:0;padding-left:0rem;font-size:15px">indoor golf simulator businesses</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div></div>
<!-- /wp:cover -->

<!-- wp:paragraph -->
<p></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:buttons {"align":"wide","style":{"spacing":{"padding":{"right":"0rem","left":"0rem","top":"0","bottom":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"flex","justifyContent":"center","verticalAlignment":"center","flexWrap":"nowrap"}} -->
<div class="wp-block-buttons alignwide" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0rem;padding-bottom:0;padding-left:0rem"><!-- wp:button {"textAlign":"center","backgroundColor":"primary","textColor":"base","className":"is-style-fill","style":{"elements":{"link":{"color":{"text":"var:preset|color|base"}}},"typography":{"fontSize":"30px"},"spacing":{"padding":{"left":"var:preset|spacing|50","right":"var:preset|spacing|50","top":"var:preset|spacing|30","bottom":"var:preset|spacing|30"}}},"fontFamily":"bebas-neue"} -->
<div class="wp-block-button is-style-fill"><a class="wp-block-button__link has-base-color has-primary-background-color has-text-color has-background has-link-color has-bebas-neue-font-family has-text-align-center has-custom-font-size wp-element-button" href="http://localhost:8888/booking365/book-a-demo/" style="padding-top:var(--wp--preset--spacing--30);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--50);font-size:30px">Book a Demo</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons -->

<!-- wp:post-content {"style":{"spacing":{"blockGap":"0","padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0","left":"0","right":"0"}}},"layout":{"type":"default"}} /-->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->